<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Attributes</title>
</head>
<body>
    <h1>Select Attributes for your Rap playlist</h1>
    <form method="POST">
        <div>
            <label>
                <input type="checkbox" name="attributes" value="Popularity">
                Popularity
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Danceability">
                Danceability
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Energy">
                Energy
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Loudness">
                Loudness
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Speechiness">
                Speechiness
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Acousticness">
                Acousticness
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Instrumentalness">
                Instrumentalness
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Liveness">
                Liveness
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Valence">
                Valence
            </label><br>
            <label>
                <input type="checkbox" name="attributes" value="Tempo">
                Tempo
            </label><br>
        </div>
        <div>
            <label for="playlist_length">Number of Songs:</label>
            <input type="number" name="playlist_length" id="playlist_length" required>
        </div>
        <button type="submit">Generate Playlist</button>
    </form>
</body>
</html>
