<h1>Select Attributes for your {{ genre }} playlist</h1>
<form method="POST">
    <div>
        {% for attribute in attributes %}
            <label>
                <input type="checkbox" name="attributes" value="{{ attribute }}">
                {{ attribute }}
            </label><br>
        {% endfor %}
    </div>
    <div>
        <label for="playlist_length">Number of Songs:</label>
        <input type="number" name="playlist_length" id="playlist_length" required>
    </div>
    <button type="submit">Generate Playlist</button>
</form>
