<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Genre</title>
</head>
<body>
    <h1>Select a Genre</h1>
    <form action="attributes_indie.html" method="get">
        <button type="submit">Indie</button>
    </form>
    <form action="attributes_house.html" method="get">
        <button type="submit">House</button>
    </form>
    <form action="attributes_rap.html" method="get">
        <button type="submit">Rap</button>
    </form>
    <form action="attributes_rb.html" method="get">
        <button type="submit">R&B</button>
    </form>
</body>
</html>
