<!DOCTYPE html>
<html>
<head>
 <title></title>
 <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <h1>make an indie playlist</h1>
    <h2>Choose your features</h2>
    <p button class=grey style="position: relative; top:10px;right:200px; height:30px;width:80px">popularity</button></a></p>
    <p align="center"><a href=house ><button class=grey style="position: relative; top:10px;right:150px; height:30px;width:80px">house</button></a></p>
</body>
</html>